/* Below are the tags that universally style entire elements on page*/

/* This is a universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* This is giving the body a background-color */
body {
    background-color: #d9dcd6;
}

/* This is styling the hrefs (the a element) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This is giving the paragraph elements a font size of 16 */
p {
    font-size: 16px;
}

/* end of generic/universal element selectors */


/* Below are the selectors which style the content within the HEADER tags including DIV which is within the header */

/* Styles the content between the header tags. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles the h1 headers within the header tags */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This styles the h1 header within the header,specifically the SEO letters in the main logo */
.header h1 .seo {
    color: #d9dcd6;
}

/* This styles the divs within the header tags */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This is giving the unordered list a style type of none, which displays them in a row. */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* end of HEADER */


/* This is a class selector specifically for the giant main image on the page.  */


.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* end of background image */



/* Below are all selectors that style the content within the MAIN tags */
/* This styles the content section of the page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This styles the section-content clas */
.section-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This is styling the images in the section content class.*/
.section-content img {
    max-height: 200px;
}

/* This is styling the h2 in the section-content class */
.section-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Images within the main tags */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This is telling the content with the float-right class to float right. ;) */
.float-right {
    float: right;
    margin-left: 25px;
}

/* end of MAIN */

/* Below are all the selectors which style the content in the ASIDE tags */

/* This styles the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This styles the matgin and colors of the benefit-content class */
.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This is atyling the h3 header in the benefit-content class */
.benefit-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This styles the images int he benefit-content class */
.benefit-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* end of ASIDE */


/* Below are the selectors which style the content within the FOOTER tags */

/* This is styling the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This is styling the h2 heading in the footer. */
.footer h2 {
    font-size: 20px;
}

/* end of FOOTER */